body {
   
    height: auto;
    overflow: scroll;
   
}


h1 , h2, h3, label {
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
label {
    font-size: 25px;
}
.header {
    height: 80px;
    position: absolute;
   
    margin-top: 20px;
    width: 100%;
    background-color: lightblue;
    z-index: 1;
    display:inline-block;
}

/* .hidden {
    display:none;

}

.show {
    visibility: visible;




/* ul li {
    display: block;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    height: auto;
} */

ul {
    display: list-item;
    list-style: none;
}

#artemis, #luna, #salem, #sylvester, #duchess {
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    height: auto;
    margin: 0 auto;
    display: block;
    
}

.row {
    display: flex;
    
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 33.33%;
  padding: 5px;
  border-radius: 50px;
}
  


.form-group {
    cursor: pointer;
    padding: 20px;
    text-align: center;
}

.form-control{
    cursor: pointer;
    margin-left: 20px;
    background-color: lightcyan;
    color: black;
    border-width: 2px;
    padding: 20px;
    font-size: 20px;
}